body{
    background-color: #bdbdbd;
    margin: 0;
}
header{
    background-color: white;
    padding: 10px;
}
header h1{
    margin: 0;
}
.post{
    background-color: white;
}
.post img{
    width: 100%;
    border: 1px solid #bdbdbd;
}
.post-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.post-title h2, .post-title p{
    margin: 0;
    padding: 10px;
}
.comentario p{
    margin: 0;
    margin-bottom: 15px;
    padding: 12px;
}
.container{
    width: 600px;
    margin: auto;
}